body{
    background-color: var(--color-grey-5)
}
.main-items--item{
    background-color: var(--color-grey-6);
    border-radius: 8px;
}
.items-item{
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.main-tags{
    display: flex;
    gap: 1em;
}
.item-tag{
    background-color: var(--color-grey-3);
    width: fit-content;
    padding: 0 14px;
    border-radius: 8px;
}
.cart-items{
    background-color: var(--color-grey-6);
    max-height: fit-content;
    border-radius: 8px;
}
.cart-item-tag{
    padding-bottom: 3em;
}
.cart-item--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
}