.header{
    background-position: top;
    background-size: cover;
    height: 650px;
    background-image: url(./assets/img/background.png);
}
.bkg{
    background: rgba(0, 0, 0, 0.5);
    height: 650px;
}